In [1]:
import pandas as pd
import numpy as np

In [2]:
df  = pd.read_csv("combined.csv", header = 0, sep = ",")

In [8]:
z = df.replace(to_replace=0, method= "ffill")

In [9]:
z.to_csv("Sorted_data.csv")

In [16]:
import csv
import json
 
# Function to convert a CSV to JSON
# Takes the file paths as arguments
def make_json(csvFilePath, jsonFilePath):
     
    # create a dictionary
    data = {}
     
    # Open a csv reader called DictReader
    with open(csvFilePath, encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)
         
        # Convert each row into a dictionary
        # and add it to data
        for rows in csvReader:
             
            # Assuming a column named 'No' to
            # be the primary key
            key = rows['Date']
            data[key] = rows
 
    # Open a json writer, and use the json.dumps()
    # function to dump data
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
        jsonf.write(json.dumps(data, indent=4))
         
# Driver Code
 
# Decide the two file paths according to your
# computer system
csvFilePath = r'Sorted_data.csv'
jsonFilePath = r'sorted_data.json'
 
# Call the make_json function
make_json(csvFilePath, jsonFilePath)

In [24]:
v = pd.read_json("sorted_data.json")
v

,2019-05-09,2019-05-10,2019-05-11,2019-05-12,2019-05-13,2019-05-14,2019-05-15,2019-05-16,2019-05-17,2019-05-18,...,2021-08-02,2021-08-03,2021-08-04,2021-08-05,2021-08-06,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11
,0,1,2,3,4,5,6,7,8,9,...,508,509,510,511,512,513,514,515,516,517
Date,5/9/2019,5/10/2019,5/11/2019,5/12/2019,5/13/2019,5/14/2019,5/15/2019,5/16/2019,5/17/2019,5/18/2019,...,8/2/2021,8/3/2021,8/4/2021,8/5/2021,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021
Average Power,7033.029836,8907.537979,8494.311218,8334.529214,9768.640628,9252.739436,9380.184001,9178.266477,9135.478948,8554.121619,...,10036.48061,10205.2868,10264.91019,10247.02182,10107.28188,9973.300021,10329.55865,10521.92573,10245.76309,10118.50111
Maximum Power,7229.55,16202.88,11784.66,11616.09,16617.72,14194.65,15648.11,15473.66,16271.9,11365.95,...,12148.21,12774.14,12930.74,12969.94,13957.74,11543.52,11903.63,13405.38,13013.25,12582.46
Minimum Power,6866.99,6866.99,6833.81,5440.37,6950.04,4713.3,6017.52,5628.43,5665.49,5344.12,...,3279.42,7232.27,7707.81,7267.0,7207.07,7650.67,5454.36,6169.26,4391.85,8922.92
Total Energy Consumed,1287044.46,25431020.93,23919980.39,23853422.61,28016461.32,26435076.57,26817946.06,26231485.59,26136605.27,24567437.29,...,28905064.16,29391225.97,29491086.97,29511422.84,29108971.81,28723104.06,29749128.9,30292624.19,29507797.69,17383584.9

In [20]:
import json

f = open("sorted_data.json", encoding = 'utf-8')
print(f)

<_io.TextIOWrapper name='sorted_data.json' mode='r' encoding='utf-8'>

In [32]:
df  = pd.read_csv("combined.csv", header = 0, sep = ",")

In [34]:
s = df["Minimum Power"]
s.where(s > 0)

0      6866.99
1          NaN
2      6833.81
3      5440.37
4      6950.04
        ...
513    7650.67
514    5454.36
515    6169.26
516    4391.85
517    8922.92
Name: Minimum Power, Length: 518, dtype: float64

In [52]:
a = s.replace(0, value = df['Minimum Power'][7])
a

0      6866.99
1      5628.43
2      6833.81
3      5440.37
4      6950.04
        ...
513    7650.67
514    5454.36
515    6169.26
516    4391.85
517    8922.92
Name: Minimum Power, Length: 518, dtype: float64

In [59]:
for i in df['Minimum Power']:
    i = s.replace(0, value = df['Minimum Power'][7]

1

In [10]:
# x['Minimum Power'].replace(to_replace=0,method = "ffill")

In [11]:
# x['Maximum Power'].replace(to_replace=0,method = "ffill")

In [12]:
#x["Average Power"].replace(to_replace=0, method = "ffill")

In [14]:
# x['Total Energy Consumed'].replace(to_replace=0,method = "ffill")

In [ ]:
#x

In [ ]:
#z.to_csv("Sorted_data.csv")

In [ ]:
# df["Minimum Power"] == 0
# df.replace(0,)

In [ ]:
# for i in df["Minimum Power"]:
#     for j in df["Date"]:
#         i = (df["Minimum Power"] == 0)
#         print(i,j)

In [ ]:
# df.all()
# #(df == 0).all(axis = 1)

In [ ]:
# for i in df["Average Power"]:
#     i = (df["Average Power"] == 0).all()
#     for j in df["Date"]:
#         print(i,j)

In [ ]:
# for i in df["Maximum Power"]:
#     i = (df["Maximum Power"] == 0).all()
#     for j in df["Date"]:
#         print(i,j)

In [ ]:
# for i in df["Minimum Power"]:
#     i = (df["Minimum Power"] == 0).all()
#     for j in df["Date"]:
#         print(i,j)

In [ ]:
# for i in df["Total Energy Consumed"]:
#     i = (df["Total Energy Consumed"] == 0).all()
#     for j in df["Date"]:
#         print(i,j)

In [ ]:
# x = pd.read_csv("grafana_2020.csv", header = 0 ,sep = "," )
# x

In [ ]:
# x.all()

In [ ]:
# y = pd.read_csv("grafana_sorted_2021.csv", header = 0 ,sep = "," )
# y

In [ ]:
# y.all()

In [ ]:
# for i in y["Power"]:
#     i = (y["Power"] == 0).all()
#     for j in y["Time"]:
#         print(i,j)
#         #i = (y["Power"] == 0).all()
#     #print( j)

In [ ]:
# (y['Power'] == 0).all()

In [ ]:
# (y["Power"] == 0).sum()

In [ ]:
# for col in df.columns:
#     val = df[col].mean()
#     df[col] = df[col].replace(0, val)